.logo {
    height: 13em;
    width: 13em;
}

.logoHover {
    fill: none;
    stroke-width: 3;
    stroke: #491EC4;
}

.boxLogo {
    height: 5em;
    width: 5em;
}

.diagram {
    padding-top: 1em;
    width: 100%;
}

.builtByLogo {
    width: 10em;
    height: auto;
}